[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = false

[packages]
pandas = "*"
ipykernel = "*"
scikit-learn = "*"
flair = "*"
nltk = "*"
click = "*"
torch = {index = "pytorch",version = "==1.11.0"}
sentence-transformers = "*"
pyaml = "*"
nervaluate = "*"

[dev-packages]

[requires]
python_version = "3.9"
